# AbstractContainerScreen
public-f net.minecraft.world.inventory.AbstractContainerMenu f_38840_ # containerId
protected net.minecraft.client.gui.screens.inventory.AbstractContainerScreen f_97711_ # draggingItem
protected net.minecraft.client.gui.screens.inventory.AbstractContainerScreen f_97710_ # isSplittingStack
protected net.minecraft.client.gui.screens.inventory.AbstractContainerScreen f_97720_ # quickCraftingRemainder
public net.minecraft.client.gui.screens.inventory.AbstractContainerScreen f_346710_ # SLOT_HIGHLIGHT_BACK_SPRITE
public net.minecraft.client.gui.screens.inventory.AbstractContainerScreen f_347754_ # SLOT_HIGHLIGHT_FRONT_SPRITE
protected net.minecraft.client.gui.screens.inventory.AbstractContainerScreen m_280211_(Lnet/minecraft/client/gui/GuiGraphics;Lnet/minecraft/world/item/ItemStack;IILjava/lang/String;)V # renderFloatingItem
public net.minecraft.client.gui.screens.inventory.AbstractContainerScreen m_280092_(Lnet/minecraft/client/gui/GuiGraphics;Lnet/minecraft/world/inventory/Slot;)V # renderSlot
# BlockBehaviour
public net.minecraft.world.level.block.state.BlockBehaviour f_60439_ # properties
public-f net.minecraft.world.level.block.state.BlockBehaviour f_60440_ # drops
public-f net.minecraft.world.level.block.state.BlockBehaviour f_347288_ # descriptionId
public-f net.minecraft.world.level.block.state.BlockBehaviour m_354447_()Ljava/lang/String; # getDescriptionId
public-f net.minecraft.world.level.block.state.BlockBehaviour m_60589_()Ljava/util/Optional; # getLootTable
# BlockEntityType
public net.minecraft.world.level.block.entity.BlockEntityType <init>(Lnet/minecraft/world/level/block/entity/BlockEntityType$BlockEntitySupplier;Ljava/util/Set;)V
# BlockBehaviour$Properties
public net.minecraft.world.level.block.state.BlockBehaviour$Properties f_347558_ # descriptionId
public net.minecraft.world.level.block.state.BlockBehaviour$Properties f_60894_ # drops
public net.minecraft.world.level.block.state.BlockBehaviour$Properties f_60884_ # hasCollision
public net.minecraft.world.level.block.state.BlockBehaviour$Properties f_60886_ # lightEmission
public net.minecraft.world.level.block.state.BlockBehaviour$Properties f_60890_ # isRandomlyTicking
public net.minecraft.world.level.block.state.BlockBehaviour$Properties f_60898_ # isRedstoneConductor
public net.minecraft.world.level.block.state.BlockBehaviour$Properties f_60899_ # isSuffocating
public net.minecraft.world.level.block.state.BlockBehaviour$Properties f_283880_ # mapColor
public net.minecraft.world.level.block.state.BlockBehaviour$Properties f_60885_ # soundType
# CreativeModeTab
public net.minecraft.world.item.CreativeModeTab f_243839_ # displayItems
public-f net.minecraft.world.item.CreativeModeTab f_256824_ # displayItemsGenerator
# DataGenerator
public net.minecraft.data.DataGenerator f_243753_ # rootOutputFolder
# GameRenderer
public net.minecraft.client.renderer.GameRenderer f_109064_ # renderBuffers
# GuiGraphics
public net.minecraft.client.gui.GuiGraphics f_400436_ # deferredTooltip
public net.minecraft.client.gui.GuiGraphics f_399111_ # guiRenderState
public net.minecraft.client.gui.GuiGraphics f_279544_ # minecraft
public net.minecraft.client.gui.GuiGraphics f_279587_ # scissorStack
public net.minecraft.client.gui.GuiGraphics f_411865_ # guiSprites
public net.minecraft.client.gui.GuiGraphics m_280479_(Lcom/mojang/blaze3d/pipeline/RenderPipeline;Lnet/minecraft/resources/ResourceLocation;IIIIFFFFI)V # innerBlit
public net.minecraft.client.gui.GuiGraphics m_353536_(Lnet/minecraft/world/item/ItemStack;II)V # renderItemBar
public net.minecraft.client.gui.GuiGraphics m_353328_(Lnet/minecraft/world/item/ItemStack;II)V # renderItemCooldown
public net.minecraft.client.gui.GuiGraphics m_357052_(Lnet/minecraft/client/gui/Font;Lnet/minecraft/world/item/ItemStack;IILjava/lang/String;)V # renderItemCount
public net.minecraft.client.gui.GuiGraphics m_403704_(Lnet/minecraft/client/gui/Font;Ljava/util/List;IILnet/minecraft/client/gui/screens/inventory/tooltip/ClientTooltipPositioner;Lnet/minecraft/resources/ResourceLocation;Z)V # setTooltipForNextFrameInternal
public net.minecraft.client.gui.GuiGraphics m_404301_(Lcom/mojang/blaze3d/pipeline/RenderPipeline;Lcom/mojang/blaze3d/textures/GpuTextureView;IIIIFFFFI)V # submitBlit
public net.minecraft.client.gui.GuiGraphics m_401701_(Lcom/mojang/blaze3d/pipeline/RenderPipeline;Lnet/minecraft/client/gui/render/TextureSetup;IIIIILjava/lang/Integer;)V # submitColoredRectangle
# GuiGraphics$ScissorStack
public net.minecraft.client.gui.GuiGraphics$ScissorStack
# HashCache
public net.minecraft.data.HashCache f_236084_ # cachePaths
public net.minecraft.data.HashCache f_252445_ # caches
public net.minecraft.data.HashCache f_236083_ # cachesToWrite
public-f net.minecraft.data.HashCache f_236085_ # initialCount
public net.minecraft.data.HashCache f_236081_ # versionId
public net.minecraft.data.HashCache m_252859_(Ljava/lang/String;)Ljava/nio/file/Path; # getProviderCachePath
public net.minecraft.data.HashCache m_236092_(Ljava/nio/file/Path;Ljava/nio/file/Path;)Lnet/minecraft/data/HashCache$ProviderCache; # readCache
# HashCache$ProviderCache
public net.minecraft.data.HashCache$ProviderCache <init>(Ljava/lang/String;Lcom/google/common/collect/ImmutableMap;)V # <init>
public net.minecraft.data.HashCache$ProviderCache
# Holder$Reference
public net.minecraft.core.Holder$Reference m_246870_(Lnet/minecraft/resources/ResourceKey;)V # bindKey
# Item
public-f net.minecraft.world.item.Item f_315186_ # components
public-f net.minecraft.world.item.Item f_41379_ # descriptionId
public-f net.minecraft.world.item.Item m_5524_()Ljava/lang/String; # getDescriptionId
# ItemModels
public net.minecraft.client.renderer.item.ItemModels f_371131_ # ID_MAPPER
# ModelBakery$ModelBakerImpl
public net.minecraft.client.resources.model.ModelBakery$ModelBakerImpl
# ModelDiscovery
public net.minecraft.client.resources.model.ModelDiscovery f_381573_ # modelWrappers
public net.minecraft.client.resources.model.ModelDiscovery f_379678_ # resolver
# PictureInPictureRenderer
public net.minecraft.client.gui.render.pip.PictureInPictureRenderer f_399220_ # projectionMatrixBuffer
# RenderStateShard$LineStateShard
public net.minecraft.client.renderer.RenderStateShard$LineStateShard
# RenderType
public net.minecraft.client.renderer.RenderType f_110393_ # sortOnUpload
# SpecialModelRenderers
public net.minecraft.client.renderer.special.SpecialModelRenderers f_370778_ # ID_MAPPER
# TagEntry
public-f net.minecraft.tags.TagEntry f_215911_ # CODEC
public net.minecraft.tags.TagEntry <init>(Lnet/minecraft/resources/ResourceLocation;ZZ)V # <init>
# TextureAtlasHolder
public net.minecraft.client.resources.TextureAtlasHolder f_118884_ # textureAtlas
