# AbstractContainerScreen
public-f net.minecraft.world.inventory.AbstractContainerMenu containerId
protected net.minecraft.client.gui.screens.inventory.AbstractContainerScreen draggingItem
protected net.minecraft.client.gui.screens.inventory.AbstractContainerScreen isSplittingStack
protected net.minecraft.client.gui.screens.inventory.AbstractContainerScreen quickCraftingRemainder
public net.minecraft.client.gui.screens.inventory.AbstractContainerScreen SLOT_HIGHLIGHT_BACK_SPRITE
public net.minecraft.client.gui.screens.inventory.AbstractContainerScreen SLOT_HIGHLIGHT_FRONT_SPRITE
protected net.minecraft.client.gui.screens.inventory.AbstractContainerScreen snapbackEnd
protected net.minecraft.client.gui.screens.inventory.AbstractContainerScreen snapbackItem
protected net.minecraft.client.gui.screens.inventory.AbstractContainerScreen snapbackStartX
protected net.minecraft.client.gui.screens.inventory.AbstractContainerScreen snapbackStartY
protected net.minecraft.client.gui.screens.inventory.AbstractContainerScreen snapbackTime
protected net.minecraft.client.gui.screens.inventory.AbstractContainerScreen renderFloatingItem(Lnet/minecraft/client/gui/GuiGraphics;Lnet/minecraft/world/item/ItemStack;IILjava/lang/String;)V
public net.minecraft.client.gui.screens.inventory.AbstractContainerScreen renderSlot(Lnet/minecraft/client/gui/GuiGraphics;Lnet/minecraft/world/inventory/Slot;)V
# BlockBehaviour
public net.minecraft.world.level.block.state.BlockBehaviour properties
public-f net.minecraft.world.level.block.state.BlockBehaviour drops
public-f net.minecraft.world.level.block.state.BlockBehaviour descriptionId
public-f net.minecraft.world.level.block.state.BlockBehaviour getDescriptionId()Ljava/lang/String;
public-f net.minecraft.world.level.block.state.BlockBehaviour getLootTable()Ljava/util/Optional;
# BlockEntityType
public net.minecraft.world.level.block.entity.BlockEntityType <init>(Lnet/minecraft/world/level/block/entity/BlockEntityType$BlockEntitySupplier;Ljava/util/Set;)V
# BlockBehaviour$Properties
public net.minecraft.world.level.block.state.BlockBehaviour$Properties descriptionId
public net.minecraft.world.level.block.state.BlockBehaviour$Properties drops
public net.minecraft.world.level.block.state.BlockBehaviour$Properties hasCollision
public net.minecraft.world.level.block.state.BlockBehaviour$Properties lightEmission
public net.minecraft.world.level.block.state.BlockBehaviour$Properties isRandomlyTicking
public net.minecraft.world.level.block.state.BlockBehaviour$Properties isRedstoneConductor
public net.minecraft.world.level.block.state.BlockBehaviour$Properties isSuffocating
public net.minecraft.world.level.block.state.BlockBehaviour$Properties mapColor
public net.minecraft.world.level.block.state.BlockBehaviour$Properties soundType
# CreativeModeTab
public net.minecraft.world.item.CreativeModeTab displayItems
public-f net.minecraft.world.item.CreativeModeTab displayItemsGenerator
# DataGenerator
public net.minecraft.data.DataGenerator rootOutputFolder
# GameRenderer
public net.minecraft.client.renderer.GameRenderer renderBuffers
# GuiGraphics
public-f net.minecraft.client.gui.GuiGraphics minecraft
public-f net.minecraft.client.gui.GuiGraphics pose
public-f net.minecraft.client.gui.GuiGraphics bufferSource
public net.minecraft.client.gui.GuiGraphics renderTooltipInternal(Lnet/minecraft/client/gui/Font;Ljava/util/List;IILnet/minecraft/client/gui/screens/inventory/tooltip/ClientTooltipPositioner;Lnet/minecraft/resources/ResourceLocation;)V
# HashCache
public net.minecraft.data.HashCache cachePaths
public net.minecraft.data.HashCache caches
public net.minecraft.data.HashCache cachesToWrite
public-f net.minecraft.data.HashCache initialCount
public net.minecraft.data.HashCache versionId
public net.minecraft.data.HashCache getProviderCachePath(Ljava/lang/String;)Ljava/nio/file/Path;
public net.minecraft.data.HashCache readCache(Ljava/nio/file/Path;Ljava/nio/file/Path;)Lnet/minecraft/data/HashCache$ProviderCache;
# HashCache$ProviderCache
public net.minecraft.data.HashCache$ProviderCache <init>(Ljava/lang/String;Lcom/google/common/collect/ImmutableMap;)V
public net.minecraft.data.HashCache$ProviderCache
# Holder#Reference
public net.minecraft.core.Holder$Reference bindKey(Lnet/minecraft/resources/ResourceKey;)V
# Item
public-f net.minecraft.world.item.Item components
public-f net.minecraft.world.item.Item descriptionId
public-f net.minecraft.world.item.Item getDescriptionId()Ljava/lang/String;
# RecipeManager
public net.minecraft.world.item.crafting.RecipeManager fromJson(Lnet/minecraft/resources/ResourceKey;Lcom/google/gson/JsonObject;Lnet/minecraft/core/HolderLookup$Provider;)Lnet/minecraft/world/item/crafting/RecipeHolder;
# RenderType
public net.minecraft.client.renderer.RenderType sortOnUpload
# TagEntry
public-f net.minecraft.tags.TagEntry CODEC
public net.minecraft.tags.TagEntry <init>(Lnet/minecraft/resources/ResourceLocation;ZZ)V
